---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';

---

<html lang="de">
  <head>
	<BaseHead title="Impressum"
description="Angaben gemäß § 5 ECG, § 14 UGB, § 25 MedienG - Verantwortlich für Inhalte und Kontaktinformationen."
></BaseHead></head>
  <body>
    
    <Header />
    <main>

        <section class="impressum-section">
            <h1 class="subpage-heading"> Impressum</h1>
            <p>Informationspflicht gemäß § 5 E-Commerce-Gesetz, § 14 Unternehmensgesetzbuch, § 63 Gewerbeordnung und Offenlegungspflicht gemäß § 25 Mediengesetz.</p>
            
            <p><strong>Name:</strong> Jasmin Kitzbichler</p>
            <p><strong>Adresse:</strong> 6330 Kufstein</p>
            <p><strong>E-Mail:</strong> <a href="mailto:jasmin.kitzbichler@gmail.com">jasmin.kitzbichler@gmail.com</a></p>
            <p><strong>Website:</strong> <a href="https://jasminkitzbichler.com">https://jasminkitzbichler.com</a></p>
            
            <p><strong>Unternehmensgegenstand:</strong> Persönliche Website, Portfolio, Blog</p>
            <p><strong>Mitglied der Wirtschaftskammer:</strong> nicht anwendbar (Privatperson)</p>
            
            <p><strong>Haftung für Inhalte:</strong><br>
                Die Inhalte dieser Webseite wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch keine Gewähr übernommen werden.</p>
                
                <p><strong>Haftung für Links:</strong><br>
                    Diese Website enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen.</p>
                    
                    <p><strong>Urheberrecht:</strong><br>
                        Die Inhalte dieser Seite unterliegen dem Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung und Verbreitung bedarf der schriftlichen Zustimmung.</p>
                    </section>
                </main>
        <Footer/>
  </body>
</html>

<style lang="scss">

    .impressum-section{
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;

        p, h2{
            text-align: center;
        }
    }
</style>