---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
import '../styles/ccElegantBlack.css';
import cookieConsentModule from '../cookie-consent.ts?url';

---

<button type="button" data-cc="show-preferencesModal">Show preferences modal</button>

<!-- als ES-Modul laden -->
<script type="module" src={cookieConsentModule}></script>