---
const today = new Date();
import CookieConsent from '../components/CookieConsent.astro';
---

<footer>
	<section class="footer">
  		<div class="width-container">
    	<span class="devider"></span>
		<div class="left">
			{today.getFullYear()} Jasmin Kitzbichler. All rights reserved.
		</div>
		<div>
			<!-- TODO automatisch Englisch oder Deutsch anzeigen -->
			<!-- TODO Footer überarbeiten -->

			<nav class="footer-links">
			<a href="/impressum">Impressum</a>
			<a href="/datenschutz">Datenschutz</a>
			</nav>

		</div>
	</div>
</section>
<CookieConsent/>
</footer>
<style>
	footer {
		margin-top: -2rem;
		padding-top: 2rem;
		padding-bottom: 1rem;
		border-top: 0.2rem solid #fff;
  		background-color: var(--background);
		border-radius: 2rem 2rem 0 0;
		box-shadow: var(--box-shadow-section);
		
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
